<template>
    <div>
        <!-- photos -->
        <div class="card mb-g">
            <div class="row row-grid no-gutters">
                <div class="col-12">
                    <div class="p-3">
                        <h2 class="mb-0 fs-xl">
                            Produtos
                        </h2>
                    </div>
                </div>
                <div class="col-4">
                    <a href="javascript:void(0);" class="text-center px-3 py-4 d-flex position-relative height-10 border">
                        <span class="position-absolute pos-top pos-left pos-right pos-bottom" style="background('../../../assets/theme/img/demo/gallery/thumb/1.jpg');background-size: cover;"></span>
                    </a>
                </div>
                <div class="col-4">
                    <a href="javascript:void(0);" class="text-center px-3 py-4 d-flex position-relative height-10 border">
                        <span class="position-absolute pos-top pos-left pos-right pos-bottom" style="background('../../../assets/theme/img/demo/gallery/thumb/2.jpg');background-size: cover;"></span>
                    </a>
                </div>
                <div class="col-4">
                    <a href="javascript:void(0);" class="text-center px-3 py-4 d-flex position-relative height-10 border">
                        <span class="position-absolute pos-top pos-left pos-right pos-bottom" style="background('../../../assets/theme/img/demo/gallery/thumb/3.jpg');background-size: cover;"></span>
                    </a>
                </div>
                <div class="col-4">
                    <a href="javascript:void(0);" class="text-center px-3 py-4 d-flex position-relative height-10 border">
                        <span class="position-absolute pos-top pos-left pos-right pos-bottom" style="background('../../../assets/theme/img/demo/gallery/thumb/4.jpg');background-size: cover;"></span>
                    </a>
                </div>
                <div class="col-4">
                    <a href="javascript:void(0);" class="text-center px-3 py-4 d-flex position-relative height-10 border">
                        <span class="position-absolute pos-top pos-left pos-right pos-bottom" style="background('../../../assets/theme/img/demo/gallery/thumb/5.jpg');background-size: cover;"></span>
                    </a>
                </div>
                <div class="col-4">
                    <a href="javascript:void(0);" class="text-center px-3 py-4 d-flex position-relative height-10 border">
                        <span class="position-absolute pos-top pos-left pos-right pos-bottom" style="background('../../../assets/theme/img/demo/gallery/thumb/6.jpg');background-size: cover;"></span>
                    </a>
                </div>
                <div class="col-4">
                    <a href="javascript:void(0);" class="text-center px-3 py-4 d-flex position-relative height-10 border">
                        <span class="position-absolute pos-top pos-left pos-right pos-bottom" style="background('../../../assets/theme/img/demo/gallery/thumb/7.jpg');background-size: cover;"></span>
                    </a>
                </div>
                <div class="col-4">
                    <a href="javascript:void(0);" class="text-center px-3 py-4 d-flex position-relative height-10 border">
                        <span class="position-absolute pos-top pos-left pos-right pos-bottom" style="background('../../../assets/theme/img/demo/gallery/thumb/8.jpg');background-size: cover;"></span>
                    </a>
                </div>
                <div class="col-4">
                    <a href="javascript:void(0);" class="text-center px-3 py-4 d-flex position-relative height-10 border">
                        <span class="position-absolute pos-top pos-left pos-right pos-bottom" style="background('../../../assets/theme/img/demo/gallery/thumb/9.jpg');background-size: cover;"></span>
                    </a>
                </div>
                <div class="col-12">
                    <div class="p-3 text-center">
                        <a href="javascript:void(0);" class="btn-link font-weight-bold">View all</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>