<style>
    .input-group{
        margin-bottom: 25px;
    }
    .panel-container {
        margin-top: 10px;
    }
</style>
<template>
    <div>
        <div id="panel-5" class="panel panel-sortable p-3" role="widget">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active fs-xl px-4" data-toggle="tab" href="#tab-1" role="tab">
                        <i class="fal fa-home text-success"></i>
                        <span class="hidden-sm-down ml-1">Dados pessoais</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-xl px-4" data-toggle="tab" href="#tab-2" role="tab">
                        <i class="fal fa-user text-primary"></i>
                        <span class="hidden-sm-down ml-1">Redes sociais</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-xl px-4" data-toggle="tab" href="#tab-3" role="tab">
                        <i class="fal fa-cog text-danger"></i>
                        <span class="hidden-sm-down ml-1">Dados bancários</span>
                    </a>
                </li>
            </ul>

            <div class="panel-container show" role="content"><div class="loader"><i class="fal fa-spinner-third fa-spin-4x fs-xxl"></i></div>

                <div class="tab-content p-3">
                    <div class="tab-pane fade active show" id="tab-1" role="tabpanel">
                        <tab-dados-pessoais></tab-dados-pessoais>
                    </div>

                    <div class="tab-pane fade" id="tab-2" role="tabpanel">
                        <tab-redes-sociais></tab-redes-sociais>
                    </div>

                    <div class="tab-pane fade" id="tab-3" role="tabpanel">
                        <tab-contas-bancarias></tab-contas-bancarias>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3 pull-right">
                        <button type="button" class=" btn btn-success btn-pills btn-lg btn-block waves-effect waves-themed">Salvar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import TabDadosPessoais from './TabDadosPessoais.vue'
    import TabRedesSociais from './TabRedesSociais.vue'
    import TabContasBancarias from './TabContasBancarias.vue'

    export default {
        components: {
            TabDadosPessoais,
            TabRedesSociais,
            TabContasBancarias
        }
    }
</script>