<template>
    <div>
        <div class="float-right">
            <button type="button" class="btn btn-sm btn-info waves-effect waves-themed" data-toggle="modal" data-target=".example-modal-default-transparent">
                <span class="fa fa-plus mr-1"></span>Adicionar</button>
        </div>
        <data-grid
                url="https://vuetable.ratiw.net/api/users"
                primary-key="id"
                :custom-fields="{name: 'Nome', email: 'E-mail', nickname: 'Usuario'}"
                :action-buttons=false
                perPage=5
        ></data-grid>

        <!--modal-->
        <div class="modal fade example-modal-default-transparent" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title ">
                            Adicionar conta bancária
                            <small class="m-0  opacity-70">
                                A sua conta bancária deve ser a mesma do titular da conta na ColinaPay e após adicionar uma ela precisará ser validada por nossa equipe
                            </small>
                        </h4>
                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fal fa-times"></i></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6" style="float: left; padding-left: 0px">
                                            <div class="form-group ">
                                                <label for="type_people" >Tipo Pessoa</label>
                                                <select class="form-control" id="type_people" name="type_people"><option value="PF">Pessoa Fisica</option><option value="PJ">Pessoa Juridica</option></select>
                                            </div>
                                        </div>

                                        <div class="col-md-6" style="float: right; padding-right: 0px">
                                            <div class="form-group">
                                                <label for="cpf_cnpj_banco"  id="label_cpf_cnpj_banco">CPF</label>
                                                <input class="form-control" id="cpf_cnpj_banco" name="cpf_cnpj_banco" type="text" maxlength="14">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12" style="float: right; padding-right: 0px">
                                        <div class="form-group">
                                            <label for="titular_conta" id="label_titular_conta" >Nome do titular da conta</label>
                                            <input class="form-control" placeholder="" name="titular_conta" type="text" id="titular_conta">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="form-group ">
                                            <label for="bank">Banco</label>
                                            <select class="form-control single-select select2-hidden-accessible" id="bank" name="bank" data-select2-id="bank" tabindex="-1" aria-hidden="true"><option value="1" data-select2-id="4">Banco do Brasil S.A.</option><option value="3">Banco da Amazônia S.A.</option><option value="4">Banco do Nordeste do Brasil S.A.</option><option value="7">Banco Nacional de Desenvolvimento Econômico e Social BNDES</option><option value="10">Credicoamo Crédito Rural Cooperativa</option><option value="11">Credit Suisse Hedging-Griffo Corretora de Valores S.A.</option><option value="12">Banco Inbursa S.A.</option><option value="14">Natixis Brasil S.A. Banco Múltiplo</option><option value="15">UBS Brasil Corretora de Câmbio, Títulos e Valores Mobiliários S.A.</option><option value="16">Coop de Créd. Mútuo dos Despachantes de Trânsito de SC e Rio Grande do Sul</option><option value="17">BNY Mellon Banco S.A.</option><option value="18">Banco Tricury S.A.</option><option value="21">Banestes S.A. Banco do Estado do Espírito Santo</option><option value="24">Banco Bandepe S.A.</option><option value="25">Banco Alfa S.A.</option><option value="29">Banco Itaú Consignado S.A.</option><option value="33">Banco Santander (Brasil) S. A.</option><option value="36">Banco Bradesco BBI S.A.</option><option value="37">Banco do Estado do Pará S.A.</option><option value="40">Banco Cargill S.A.</option><option value="41">Banco do Estado do Rio Grande do Sul S.A.</option><option value="47">Banco do Estado de Sergipe S.A.</option><option value="60">Confidence Corretora de Câmbio S.A.</option><option value="62">Hipercard Banco Múltiplo S.A.</option><option value="63">Banco Bradescard S.A.</option><option value="64">Goldman Sachs do Brasil  Banco Múltiplo S. A.</option><option value="65">Banco AndBank (Brasil) S.A.</option><option value="66">Banco Morgan Stanley S. A.</option><option value="69">Banco Crefisa S.A.</option><option value="70">Banco de Brasília S.A.</option><option value="74">Banco J. Safra S.A.</option><option value="75">Banco ABN Amro S.A.</option><option value="76">Banco KDB do Brasil S.A.</option><option value="77">Banco Inter S.A.</option><option value="78">Haitong Banco de Investimento do Brasil S.A.</option><option value="79">Banco Original do Agronegócio S.A.</option><option value="80">BT Corretora de Câmbio Ltda.</option><option value="81">BBN Banco Brasileiro de Negocios S.A.</option><option value="82">Banco Topazio S.A.</option><option value="83">Banco da China Brasil S.A.</option><option value="84">Uniprime Norte do Paraná - Cooperativa de Crédito Ltda.</option><option value="85">Cooperativa Central de Crédito Urbano - Cecred</option><option value="89">Cooperativa de Crédito Rural da Região da Mogiana</option><option value="91">Central de Cooperativas de Economia e Crédito Mútuo do Est RS - Unicred</option><option value="92">BRK S.A. Crédito, Financiamento e Investimento</option><option value="93">Pólocred Sociedade de Crédito ao Microempreendedor e à Empresa de Pequeno Porte</option><option value="94">Banco Finaxis S.A.</option><option value="95">Banco Confidence de Câmbio S.A.</option><option value="96">Banco BMFBovespa de Serviços de Liquidação e Custódia S/A</option><option value="97">Cooperativa Central de Crédito Noroeste Brasileiro Ltda - CentralCredi</option><option value="98">Credialiança Cooperativa de Crédito Rural</option><option value="99">Uniprime Central – Central Interestadual de Cooperativas de Crédito Ltda.</option><option value="100">Planner Corretora de Valores S.A.</option><option value="101">Renascença Distribuidora de Títulos e Valores Mobiliários Ltda.</option><option value="102">XP Investimentos Corretora de Câmbio Títulos e Valores Mobiliários S.A.</option><option value="104">Caixa Econômica Federal</option><option value="105">Lecca Crédito, Financiamento e Investimento S/A</option><option value="107">Banco Bocom BBM S.A.</option><option value="108">PortoCred S.A. Crédito, Financiamento e Investimento</option><option value="111">Oliveira Trust Distribuidora de Títulos e Valores Mobiliários S.A.</option><option value="113">Magliano S.A. Corretora de Cambio e Valores Mobiliarios</option><option value="114">Central Cooperativa de Crédito no Estado do Espírito Santo - CECOOP</option><option value="117">Advanced Corretora de Câmbio Ltda.</option><option value="118">Standard Chartered Bank (Brasil) S.A. Banco de Investimento</option><option value="119">Banco Western Union do Brasil S.A.</option><option value="120">Banco Rodobens SA</option><option value="121">Banco Agibank S.A.</option><option value="122">Banco Bradesco BERJ S.A.</option><option value="124">Banco Woori Bank do Brasil S.A.</option><option value="125">Brasil Plural S.A. Banco Múltiplo</option><option value="126">BR Partners Banco de Investimento S.A.</option><option value="127">Codepe Corretora de Valores e Câmbio S.A.</option><option value="128">MS Bank S.A. Banco de Câmbio</option><option value="129">UBS Brasil Banco de Investimento S.A.</option><option value="130">Caruana S.A. Sociedade de Crédito, Financiamento e Investimento</option><option value="131">Tullett Prebon Brasil Corretora de Valores e Câmbio Ltda.</option><option value="132">ICBC do Brasil Banco Múltiplo S.A.</option><option value="133">Confederação Nacional das Cooperativas Centrais de Crédito e Economia Familiar e</option><option value="134">BGC Liquidez Distribuidora de Títulos e Valores Mobiliários Ltda.</option><option value="135">Gradual Corretora de Câmbio, Títulos e Valores Mobiliários S.A.</option><option value="136">Confederação Nacional das Cooperativas Centrais Unicred Ltda – Unicred do Brasil</option><option value="137">Multimoney Corretora de Câmbio Ltda</option><option value="138">Get Money Corretora de Câmbio S.A.</option><option value="139">Intesa Sanpaolo Brasil S.A. - Banco Múltiplo</option><option value="140">Easynvest - Título Corretora de Valores SA</option><option value="142">Broker Brasil Corretora de Câmbio Ltda.</option><option value="143">Treviso Corretora de Câmbio S.A.</option><option value="144">Bexs Banco de Câmbio S.A.</option><option value="145">Levycam - Corretora de Câmbio e Valores Ltda.</option><option value="146">Guitta Corretora de Câmbio Ltda.</option><option value="149">Facta Financeira S.A. - Crédito Financiamento e Investimento</option><option value="157">ICAP do Brasil Corretora de Títulos e Valores Mobiliários Ltda.</option><option value="159">Casa do Crédito S.A. Sociedade de Crédito ao Microempreendedor</option><option value="163">Commerzbank Brasil S.A. - Banco Múltiplo</option><option value="169">Banco Olé Bonsucesso Consignado S.A.</option><option value="172">Albatross Corretora de Câmbio e Valores S.A</option><option value="173">BRL Trust Distribuidora de Títulos e Valores Mobiliários S.A.</option><option value="174">Pernambucanas Financiadora S.A. Crédito, Financiamento e Investimento</option><option value="177">Guide Investimentos S.A. Corretora de Valores</option><option value="180">CM Capital Markets Corretora de Câmbio, Títulos e Valores Mobiliários Ltda.</option><option value="182">Dacasa Financeira S/A - Sociedade de Crédito, Financiamento e Investimento</option><option value="183">Socred S.A. - Sociedade de Crédito ao Microempreendedor</option><option value="184">Banco Itaú BBA S.A.</option><option value="188">Ativa Investimentos S.A. Corretora de Títulos Câmbio e Valores</option><option value="189">HS Financeira S/A Crédito, Financiamento e Investimentos</option><option value="190">Cooperativa de Economia e Crédito Mútuo dos Servidores Públicos Estaduais do Rio</option><option value="191">Nova Futura Corretora de Títulos e Valores Mobiliários Ltda.</option><option value="194">Parmetal Distribuidora de Títulos e Valores Mobiliários Ltda.</option><option value="196">Fair Corretora de Câmbio S.A.</option><option value="197">Stone Pagamentos S.A.</option><option value="204">Banco Bradesco Cartões S.A.</option><option value="208">Banco BTG Pactual S.A.</option><option value="212">Banco Original S.A.</option><option value="213">Banco Arbi S.A.</option><option value="217">Banco John Deere S.A.</option><option value="218">Banco BS2 S.A.</option><option value="222">Banco Credit Agrícole Brasil S.A.</option><option value="224">Banco Fibra S.A.</option><option value="233">Banco Cifra S.A.</option><option value="237">Banco Bradesco S.A.</option><option value="241">Banco Clássico S.A.</option><option value="243">Banco Máxima S.A.</option><option value="246">Banco ABC Brasil S.A.</option><option value="249">Banco Investcred Unibanco S.A.</option><option value="250">BCV - Banco de Crédito e Varejo S/A</option><option value="253">Bexs Corretora de Câmbio S/A</option><option value="254">Parana Banco S. A.</option><option value="260">Nu Pagamentos S.A.</option><option value="265">Banco Fator S.A.</option><option value="266">Banco Cédula S.A.</option><option value="268">Barigui Companhia Hipotecária</option><option value="269">HSBC Brasil S.A. Banco de Investimento</option><option value="271">IB Corretora de Câmbio, Títulos e Valores Mobiliários Ltda.</option><option value="300">Banco de la Nacion Argentina</option><option value="318">Banco BMG S.A.</option><option value="320">China Construction Bank (Brasil) Banco Múltiplo S/A</option><option value="341">Itaú Unibanco  S.A.</option><option value="366">Banco Société Générale Brasil S.A.</option><option value="370">Banco Mizuho do Brasil S.A.</option><option value="376">Banco J. P. Morgan S. A.</option><option value="389">Banco Mercantil do Brasil S.A.</option><option value="394">Banco Bradesco Financiamentos S.A.</option><option value="399">Kirton Bank S.A. - Banco Múltiplo</option><option value="412">Banco Capital S. A.</option><option value="422">Banco Safra S.A.</option><option value="456">Banco MUFG Brasil S.A.</option><option value="464">Banco Sumitomo Mitsui Brasileiro S.A.</option><option value="473">Banco Caixa Geral - Brasil S.A.</option><option value="477">Citibank N.A.</option><option value="479">Banco ItauBank S.A.</option><option value="487">Deutsche Bank S.A. - Banco Alemão</option><option value="488">JPMorgan Chase Bank, National Association</option><option value="492">ING Bank N.V.</option><option value="494">Banco de La Republica Oriental del Uruguay</option><option value="495">Banco de La Provincia de Buenos Aires</option><option value="505">Banco Credit Suisse (Brasil) S.A.</option><option value="545">Senso Corretora de Câmbio e Valores Mobiliários S.A.</option><option value="600">Banco Luso Brasileiro S.A.</option><option value="604">Banco Industrial do Brasil S.A.</option><option value="610">Banco VR S.A.</option><option value="611">Banco Paulista S.A.</option><option value="612">Banco Guanabara S.A.</option><option value="613">Omni Banco S.A.</option><option value="623">Banco Pan S.A.</option><option value="626">Banco Ficsa S. A.</option><option value="630">Banco Intercap S.A.</option><option value="633">Banco Rendimento S.A.</option><option value="634">Banco Triângulo S.A.</option><option value="637">Banco Sofisa S. A.</option><option value="641">Banco Alvorada S.A.</option><option value="643">Banco Pine S.A.</option><option value="652">Itaú Unibanco Holding S.A.</option><option value="653">Banco Indusval S. A.</option><option value="654">Banco A. J. Renner S.A.</option><option value="655">Banco Votorantim S.A.</option><option value="707">Banco Daycoval S.A.</option><option value="712">Banco Ourinvest S.A.</option><option value="719">Banif - Bco Internacional do Funchal (Brasil) S.A.</option><option value="735">Banco Neon S.A.</option><option value="739">Banco Cetelem S.A.</option><option value="741">Banco Ribeirão Preto S.A.</option><option value="743">Banco Semear S.A.</option><option value="745">Banco Citibank S.A.</option><option value="746">Banco Modal S.A.</option><option value="747">Banco Rabobank International Brasil S.A.</option><option value="748">Banco Cooperativo Sicredi S. A.</option><option value="751">Scotiabank Brasil S.A. Banco Múltiplo</option><option value="752">Banco BNP Paribas Brasil S.A.</option><option value="753">Novo Banco Continental S.A. - Banco Múltiplo</option><option value="754">Banco Sistema S.A.</option><option value="755">Bank of America Merrill Lynch Banco Múltiplo S.A.</option><option value="756">Banco Cooperativo do Brasil S/A - Bancoob</option><option value="757">Banco Keb Hana do Brasil S. A.</option></select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="3" style="width: 100px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-bank-container"><span class="select2-selection__rendered" id="select2-bank-container" role="textbox" aria-readonly="true" title="Banco do Brasil S.A."></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                        </div>
                                    </div>

                                    <div class="col-md-5">
                                        <div class="">
                                            <label for="type">Tipo Conta:</label>
                                            <select class="form-control" id="type" name="type"><option value="1">Corrente</option><option value="2">Poupança</option></select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-4">
                                        <label for="bank_branch">Agencia:</label>
                                        <input class="form-control number10" placeholder="" name="bank_branch" type="text" id="bank_branch" maxlength="10">

                                    </div>

                                    <div class="col-md-1">
                                        <label for="bank_branch_digit">Digito:</label>
                                        <input class="form-control number10" placeholder="" name="bank_branch_digit" type="text" id="bank_branch_digit" maxlength="10">

                                    </div>

                                    <div class="col-md-4">
                                        <label for="bank_account">Conta:</label>
                                        <input class="form-control number10" placeholder="" name="bank_account" type="text" id="bank_account" maxlength="10">

                                    </div>

                                    <div class="col-md-1">
                                        <label for="bank_account_digit">Digito:</label>
                                        <input class="form-control number10" placeholder="" name="bank_account_digit" type="text" id="bank_account_digit" maxlength="10">

                                    </div>

                                    <div class="col-md-2">

                                        <label for="variation">Variação:</label>
                                        <input class="form-control number10" placeholder="" name="variation" type="text" id="variation" maxlength="10">


                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary waves-effect waves-themed" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary waves-effect waves-themed">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style >
    .form-group {
        margin-bottom: 15px !important;
    }
    .float-right{
        margin-right: 21px;
        margin-bottom: 21px;
    }
    #table-wrapper {
        margin-top: 0px !important;
    }
    .p-3 {
        padding-top: 0px;
    }
</style>
<script>
    import DataGrid from '../Base/DataGrid.vue'

    export default {
        components: {
            DataGrid
        }
    }
</script>