<template>
    <div>
        <div class="col-md-12">
            <div class="form-group">
                <label class="form-label" for="name-f">Tipo pessoa</label>
                <div class="input-group">
                    <div class="input-group-append input-group-prepend">
                        <span class="input-group-text">
                            <i class="fal fa-exchange fs-xl"></i>
                        </span>
                    </div>
                    <select class="custom-select" id="usertype" aria-label="usertype">
                        <option value="1">Fisica</option>
                        <option value="2">Juridica</option>
                    </select>
                    <div class="input-group-prepend"> <span class="input-group-text text-success"> <i class="ni ni-user fs-xl"></i> </span> </div>
                    <input type="text"  class="form-control" placeholder="CPF" id="user">

                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label class="form-label" for="dollar-1">Sobre você</label>
                <div class="input-group input-group-multi-transition">
                    <div class="input-group-prepend">
                        <span class="input-group-text">@</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" id="dollar-1" placeholder="Como gostaria de ser chamado ? ">
                    <input type="text" class="form-control" aria-label="Person name" placeholder="Email">
                    <input type="text" class="form-control" aria-label="Person name" placeholder="Nome completo">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-edit"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label class="form-label" for="basic-url">Escreva uma mensagem de perfil</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Mensagem de perfil</span>
                    </div>
                    <textarea class="form-control"  rows="4" aria-label="With textarea"></textarea>
                </div>
            </div>
        </div>
        <div class="panel-tag">
            Informações sobre Endereço
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label" for="button-addon5">Cep</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Digite o cep" aria-describedby="button-addon5">
                        <div class="input-group-append">
                            <button class="btn btn-primary waves-effect waves-themed" type="button" id="button-addon5"><i class="fal fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label" for="simpleinput">Rua</label>
                    <input type="text" id="simpleinput" class="form-control">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-label" for="simpleinput">Numero</label>
                    <input type="text" id="simpleinput" class="form-control">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label" for="simpleinput">Bairro</label>
                    <input type="text" id="simpleinput" class="form-control">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label" for="simpleinput">Cidade</label>
                    <input type="text" id="simpleinput" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label" for="simpleinput">Complemento</label>
                    <input type="text" id="simpleinput" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label" for="simpleinput">UF</label>
                    <input type="text" id="simpleinput" class="form-control">
                </div>
            </div>
        </div>
    </div>
</template>