<template>
    <div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label" for="addon-wrapping-left">Link do facebook</label>
                    <div class="input-group flex-nowrap">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-facebook fs-xl"></i></span>
                        </div>
                        <input id="addon-wrapping-left" type="text" class="form-control" placeholder="Link do facebook" aria-label="Username" aria-describedby="addon-wrapping-left">
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label" for="addon-wrapping-left">Link do facebook</label>
                    <div class="input-group flex-nowrap">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-twitter fs-xl"></i></span>
                        </div>
                        <input id="addon-wrapping-left" type="text" class="form-control" placeholder="Link do twitter" aria-label="Username" aria-describedby="addon-wrapping-left">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label" for="addon-wrapping-left">Link do linkedIn</label>
                    <div class="input-group flex-nowrap">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-linkedin fs-xl"></i></span>
                        </div>
                        <input id="addon-wrapping-left" type="text" class="form-control" placeholder="Link do linkedIn" aria-label="Username" aria-describedby="addon-wrapping-left">
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label" for="addon-wrapping-left">Link do site</label>
                    <div class="input-group flex-nowrap">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-google fs-xl"></i></span>
                        </div>
                        <input id="addon-wrapping-left" type="text" class="form-control" placeholder="Link do site" aria-label="Username" aria-describedby="addon-wrapping-left">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>