<template>
  <div>
    <nav id="js-primary-nav" class="primary-nav" role="navigation">
      <div class="nav-filter">
        <div class="position-relative">
          <input type="text" id="nav_filter_input" placeholder="Filter menu" class="form-control" tabindex="0">
          <a href="#" onclick="return false;" class="btn-primary btn-search-close js-waves-off" data-action="toggle" data-class="list-filter-active" data-target=".page-sidebar">
            <i class="fal fa-chevron-up"></i>
          </a>
        </div>
      </div>
      <div class="info-card">
        <img src="../../assets/theme/img/demo/avatars/avatar-admin.png" class="profile-image rounded-circle" alt="Dr. Codex Lantern">
        <div class="info-card-text">
          <a href="#" class="d-flex align-items-center text-white">
              <span class="text-truncate text-truncate-sm d-inline-block">
                  Dr. Codex Lantern
              </span>
          </a>
          <span class="d-inline-block text-truncate text-truncate-sm">Toronto, Canada</span>
        </div>
        <img src="../../assets/theme/img/card-backgrounds/cover-2-lg.png" class="cover" alt="cover">
        <a href="#" onclick="return false;" class="pull-trigger-btn" data-action="toggle" data-class="list-filter-active" data-target=".page-sidebar" data-focus="nav_filter_input">
          <i class="fal fa-angle-down"></i>
        </a>
      </div>
      <ul id="js-nav-menu" class="nav-menu">
        <li class="active open">
          <a href="#" title="Comece aqui" data-filter-tags="Comece aqui">
            <i class="fal fa-home"></i>
            <span class="nav-link-text" data-i18n="nav.application_intel">Comece aqui</span>
          </a>
          <ul>
            <li>
              <router-link to="/" data-filter-tags="dashboard">Home</router-link>
            </li>
<!--            <li>-->
<!--              <router-link to="/products" data-filter-tags="produtos">Produtos</router-link>-->
<!--            </li>-->
            <li>
              <router-link to="/profile" data-filter-tags="dados cadastrais">Dados Cadastrais</router-link>
            </li>
            <li>
              <router-link to="/products" data-filter-tags="produtos">Compras</router-link>
            </li>
            <li>
              <router-link to="/products" data-filter-tags="produtos">Saques</router-link>
            </li>
          </ul>
        </li>

        <li class="active open">
          <a href="#" title="produtos" data-filter-tags="produtos">
            <i class="fal fa-cube"></i>
            <span class="nav-link-text" >Produtos</span>
          </a>
          <ul>
            <li>
              <router-link to="/products/create" data-filter-tags="dados cadastrais">Criar novo produto</router-link>
            </li>
            <li>
            <li>
              <router-link to="/products" data-filter-tags="dados cadastrais">Todos os produtos</router-link>
            </li>
            <li>
              <router-link to="/products" data-filter-tags="produtos">Co-Produções</router-link>
            </li>
          </ul>
        </li>


        <li class="nav-title">Tools & Components</li>
      </ul>
      <div class="filter-message js-filter-message bg-success-600"></div>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'NavCustom'
}
</script>