<template>
    <div>
        <div v-for="(filter, index) in gridFilters" :key="index" :class="'form-group col-md-' + filter.size">
            <label :for="index" class="label-control">{{filter.title}}</label>

            <div class="input-group input-group-lg bg-white shadow-inset-2">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-transparent border-right-0 py-1 px-3">
                        <span class="icon-stack fs-xxl">
                            <i class="base-7 icon-stack-3x color-primary-500"></i>
                            <i class="fal fa-database icon-stack-1x text-white"></i>
                        </span>
                    </span>
                </div>
                <input v-if="isInput(filter.type)" type="text" :name="index" class="form-control border-left-0 bg-transparent pl-0" @keyup="emitFilterValue" :placeholder="filter.title ? filter.title : 'Pesquisar...'">
            </div>

<!--            <input v-if="isInput(filter.type)" type="text" :name="index" class="form-control" @keyup="emitFilterValue" :placeholder="filter.title">-->

            <select :name="index" v-if="filter.type=='select'" class="form-control" @change="emitFilterValue">
                <option value="">All</option>
                <option v-for="(option, index) in filter.options" :key="index" :value="index">{{option}}</option>
            </select>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['filters'],
        data () {
            return {
                gridFilters: this.filters
            }
        },
        methods: {
            isInput (type) {
                return ['text', 'number'].indexOf(type) != -1
            },
            emitFilterValue (e) {
                this.$emit('filter', {name: e.target.name, value: e.target.value})
            }
        }
    }
</script>