<template>
    <div class="">
        <div class="col-md-12">
            <data-grid-filter :filters="userFilters" @filter="getByFilter"></data-grid-filter>
        </div>
        <div id="table-wrapper" class="">
            <vuetable ref="vuetable"
                      :api-url="url"
                      :fields="fields"
                      :sort-order="sortOrder"
                      :css="css.table"
                      :append-params="filters"
                      pagination-path=""
                      :per-page="Number(perPage)"
                      @vuetable:pagination-data="onPaginationData"
            >
                <template slot="actions" scope="props" v-if="showAction">
                    <div class="table-button-container">
                        <button class="btn btn-success btn-sm" @click="viewRow(props.rowData)">
                            <span class="fa fa-eye"></span>
                        </button>&nbsp;&nbsp;

                        <button class="btn btn-warning btn-sm" @click="editRow(props.rowData)">
                            <span class="fa fa-pencil"></span>
                        </button>&nbsp;&nbsp;

                        <button class="btn btn-danger btn-sm" @click="deleteRow(props.rowData)">
                            <span class="fa fa-trash"></span>
                        </button>&nbsp;&nbsp;
                    </div>
                </template>

            </vuetable>
            <div class="row text-center">
                <vuetable-pagination ref="pagination"
                                     :css="css.pagination"
                                     @vuetable-pagination:change-page="onChangePage"
                ></vuetable-pagination>
            </div>
        </div>
    </div>
</template>

<style>
    .data-grid-actions {
        width: 13%;
    }
</style>

<script>
    // import Swal from 'sweetalert2'
    // import toastr from 'toastr'
    require('bootstrap')
    import bootbox from 'bootbox'
    import axios from 'axios'

    import Vuetable from 'vuetable-2/src/components/Vuetable.vue'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination.vue'
    import DataGridFilter from './DataGridFilter.vue'

    export default {
        components: {
            vuetable: Vuetable,
            'vuetable-pagination': VuetablePagination,
            dataGridFilter: DataGridFilter
        },
        props: ['url', 'customFields', 'primaryKey', 'actionButtons', 'userFilters', 'perPage'],
        data () {
            return {
                fields: [],
                filters: {},
                sortOrder: [
                    { field: 'name', direction: 'asc' }
                ],
                css: {
                    table: {
                        tableClass: 'table table-striped table-bordered table-hovered',
                        loadingClass: 'loading',
                        ascendingIcon: 'fa fa-sort-asc',
                        descendingIcon: 'fa fa-sort-desc',
                        handleIcon: 'fa fa-trash',
                    },
                    pagination: {
                        infoClass: 'pull-left',
                        wrapperClass: 'vuetable-pagination pull-right',
                        activeClass: 'btn-primary',
                        disabledClass: 'disabled',
                        pageClass: 'btn btn-border',
                        linkClass: 'btn btn-border',
                        icons: {
                            first: '',
                            prev: '',
                            next: '',
                            last: '',
                        },
                    }
                }
            }
        },
        computed:{
            showAction: function () {
                return Boolean(this.actionButtons)
            }
        },
        methods: {
            getByFilter (data) {
                this.filters[data.name] = data.value;
                this.$nextTick( () => this.$refs.vuetable.refresh() )
            },
            assocUserFilters () {
                Object.keys(this.userFilters).map(filter => {
                    this.$set(this.filters, filter, '')
                    this.userFilters[filter].title = this.customFields[filter]
                })
            },
            assocFields () {
                const customFields = this.customFields
                for (let field in customFields) {
                    let fieldInfo = {
                        name: field,
                        title: customFields[field],
                        //dataClass: this.getDataClass(field),
                        titleClass: this.getFieldClass(field)
                    }
                    if (this.mutators && field in this.mutators) {
                        fieldInfo.callback = this.applyMutator(this.mutators[field])
                    }

                    this.fields.push(fieldInfo)
                }
                if(this.showAction) {
                    this.fields.push({
                        name: '__slot:actions',
                        title: '#',
                        dataClass: 'data-grid-actions'
                    })
                }
            },
            getFieldClass (field) {
                if (this.titleCss) {
                    return this.titleCss[field]
                }
                return ''
            },
            onPaginationData (paginationData) {
                this.$refs.pagination.setPaginationData(paginationData)
            },
            onChangePage (page) {
                this.$refs.vuetable.changePage(page)
            },
            editRow(rowData){
                let currentLocation = window.location;
                let url = currentLocation+'/'+rowData[this.primaryKey]+'/'+'edit';

                window.location.replace(url)
            },
            viewRow(rowData){
                let currentLocation = window.location;
                let url = currentLocation+'/'+rowData[this.primaryKey];

                window.location.replace(url)
            },
            deleteRow(rowData) {
                // Swal.fire({
                //     title: "Deletar registro?",
                //     text: "Seus registros não poderão ser recuperados!",
                //     type: 'warning',
                //     showCancelButton: true,
                //     confirmButtonColor: '#3085d6',
                //     cancelButtonColor: '#dc3545',
                //     confirmButtonText: 'Sim, deletar registro!'
                // }).then((result) => {
                //     if (result.value) {
                //         let currentLocation = window.location.pathname;
                //         let url = currentLocation + "/" + rowData[this.primaryKey];
                //
                //         axios.delete(url)
                //             .then( () => {
                //                 toastr.success('Registro deletado.', 'Sucesso!')
                //                 this.$refs.vuetable.refresh();
                //             })
                //             .catch(() => toastr.error('Erro ao deletar produto', 'Erro!'))
                //     }
                // })
                // initApp.playSound('media/sound', 'bigbox')

                bootbox.confirm(
                    {
                        title: "<i class='fal fa-times-circle text-danger mr-2'></i> Deletar registro ?",
                        message: "<span><strong>Cuidado:</strong> Seus registros não poderão ser recuperados!</span>",
                        centerVertical: true,
                        swapButtonOrder: true,
                        buttons:
                            {
                                confirm:
                                    {
                                        label: 'Sim',
                                        className: 'btn-danger shadow-0'
                                    },
                                cancel:
                                    {
                                        label: 'Não',
                                        className: 'btn-default'
                                    }
                            },
                        className: "modal-alert",
                        closeButton: false,
                        callback: function(result)
                        {
                            if(result) {
                                let currentLocation = window.location.pathname;
                                let url = currentLocation + "/" + rowData[this.primaryKey];

                                axios.delete(url)
                                    .then( () => {
                                        bootbox.alert(
                                            {
                                                title: "<i class='fal fa-check-circle text-success mr-2'></i> <span class='text-success fw-500'>Successo!</span>",
                                                message: "<span><strong>Ótimo...</strong> tudo está completo</span>",
                                                centerVertical: true,
                                                className: "modal-alert",
                                                closeButton: false
                                            });
                                        // toastr.success('Registro deletado.', 'Sucesso!')
                                        this.$refs.vuetable.refresh();
                                    })
                                    .catch(() => {
                                        bootbox.alert(
                                            {
                                                title: "<i class='fal fa-times-circle text-danger mr-2'></i> <span class='text-danger fw-500'>Ooops!</span>",
                                                message: "<span><strong>Cuidado...</strong> Algo inesperado aconteceu, se o problema persistir, entre em contato com o suporte</span>",
                                                centerVertical: true,
                                                className: "modal-alert",
                                                closeButton: false
                                            });
                                    })
                            }
                        }
                    });
            }
        },
        created () {
            this.assocFields();
            //this.assocUserFilters();
        }
    }
</script>