<template>
    <div class="container-fluid page-content">
        <div class="subheader">
            <h1 class="subheader-title">
                <i class="subheader-icon fal fa-plus-circle"></i> Perfil
                <small>
                    Perfil do usuário
                </small>
            </h1>
        </div>

        <div class="row">
            <div class="col-lg-6 col-xl-3 order-lg-1 order-xl-1">

                <panel-profile></panel-profile>

                <panel-produtos></panel-produtos>

                <panel-afiliados></panel-afiliados>

            </div>

        <div class="col-lg-6 col-xl-9 order-lg-1 order-xl-1">
            <panel-informacoes></panel-informacoes>
        </div>
    </div>
</div>

</template>

<script>
    import PanelProfile from '../../components/Profile/PanelProfile.vue';
    import PanelProdutos from '../../components/Profile/PanelProdutos.vue';
    import PanelAfiliados from '../../components/Profile/PanelAfiliados.vue';
    import PanelInformacoes from '../../components/Profile/PanelInformacoes.vue';

    export default {
        components:{
            PanelProfile,
            PanelProdutos,
            PanelAfiliados,
            PanelInformacoes
        }
    }
</script>