<template>
    <div id="app">
        <div class="page-wrapper">
            <div class="page-inner">
                <aside class="page-sidebar">
                    <div class="page-logo">
                        <a href="#" class="page-logo-link press-scale-down d-flex align-items-center position-relative" data-toggle="modal" data-target="#modal-shortcut">
                            <img src="./assets/theme/img/logo.png" alt="SmartAdmin WebApp" aria-roledescription="logo">
                            <span class="page-logo-text mr-1">ColinaPay</span>
                            <span class="position-absolute text-white opacity-50 small pos-top pos-right mr-2 mt-n2"></span>
                            <i class="fal fa-angle-down d-inline-block ml-1 fs-lg color-primary-300"></i>
                        </a>
                    </div>

                    <nav-custom></nav-custom>

                </aside>

                <div class="page-content-wrapper">

                    <header-custom></header-custom>

                    <main id="js-page-content" role="main" class="">

                        <router-view></router-view>

                        <button-action-float-right></button-action-float-right>

                        <modal-backdrop-transparent></modal-backdrop-transparent>
                    </main>
                </div>
            </div>
        </div>
    </div>
</template>

<style>
    @import "assets/theme/css/vendors.bundle.css";
    @import "assets/theme/css/app.bundle.css";
    @import "../node_modules/font-awesome/css/font-awesome.min.css";
    @import "../node_modules/animate.css/animate.min.css";

</style>

<script>
    import NavCustom from "./components/Layout/NavCustom.vue";
    import HeaderCustom from "./components/Layout/HeaderCustom.vue";
    import ModalBackdropTransparent from "./components/Layout/ModalBackdropTransparent.vue";
    import ButtonActionFloatRight from "./components/Layout/ButtonActionFloatRight.vue";

    export default {
        name: 'app',
        created() {
            window.$(document).on('click','#js-nav-menu > li > a', function () {
                window.$('body').removeClass('nav-function-minify blur')
            })

        },
        components: {
            NavCustom,
            HeaderCustom,
            ModalBackdropTransparent,
            ButtonActionFloatRight
        }
    }
</script>