<template>
    <div>
        <div class="col-md-3 col-lg-3 pb-3">

            <div class="card card-custom bg-white border-white border-0">
                <div class="card-custom-img" style="background-image: url(https://tratspay-images.s3-sa-east-1.amazonaws.com/2/products/7XDoHMZNmkiTUld56bPY4CF3Mb8tVuxmCSLdqHgZ.jpeg);"></div>

                <div class="card-body" style="overflow-y: auto">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Card has minimum height set but will expand if more space is needed for card body content. You can use Bootstrap <a href="https://getbootstrap.com/docs/4.0/components/card/#card-decks" target="_blank">card-decks</a> to align multiple cards nicely in a row.</p>
                </div>
                <div class="card-footer" style="background: inherit; border-color: inherit;">
                    <button type="button" class="btn btn-danger waves-effect waves-themed"><i class="fal fa-trash"></i> Excluir</button>
                    <button type="button" class="btn btn-info waves-effect waves-themed"><i class="fal fa-link"></i> Acessar</button>
                </div>
            </div>

        </div>
    </div>
</template>
<style scoped>
    .col-md-3 {
        float: left;
    }
    .btn {
        margin-right: 10px;
    }
    .card-custom {
        overflow: hidden;
        min-height: 450px;
        box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
    }

    .card-custom-img {
        height: 200px;
        min-height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-color: inherit;
    }

    /* First border-left-width setting is a fallback */
    .card-custom-img::after {
        position: absolute;
        content: '';
        top: 161px;
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-top-width: 40px;
        border-right-width: 0;
        border-bottom-width: 0;
        border-left-width: 545px;
        border-left-width: calc(575px - 5vw);
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: inherit;
    }

    .card-custom-avatar img {
        border-radius: 50%;
        box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
        position: absolute;
        top: 100px;
        left: 1.25rem;
        width: 100px;
        height: 100px;
    }

</style>