<style scoped>
    .register-left{
        text-align: center;
        color: #fff;
        margin-top: 4%;
    }
    .register-left input{
        border: none;
        border-radius: 1.5rem;
        padding: 2%;
        width: 60%;
        background: #f8f9fa;
        font-weight: bold;
        color: #383d41;
        margin-top: 30%;
        margin-bottom: 3%;
        cursor: pointer;
    }
    .register-left img{
        margin-top: 15%;
        margin-bottom: 5%;
        width: 25%;
        -webkit-animation: mover 2s infinite  alternate;
        animation: mover 1s infinite  alternate;
    }
    .form-group {
        margin-bottom: 30px !important;
    }
    .custom-animate {
        animation-duration: 2s;
        animation-delay: 0s;
        /*animation-iteration-count: infinite;*/
    }
    .panel-tag{
        margin-bottom: 11px;
    }

</style>
<template>
    <div>
        <div class="page-inner bg-brand-gradient">
            <div class="flex-1 " style="background: url(../../assets/theme/img/svg/pattern-1.svg) no-repeat center bottom fixed; background-size: cover;">
                <div class="col-md-3 register-left" style="    padding-top: 300px; position: absolute;">
                    <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                    <h3>Welcome</h3>
                    <p>You are 30 seconds away from earning your own money!</p>
                </div>
                <div class="container py-4 py-lg-5  px-4 px-sm-0">
                    <div class="row">
                        <div class="col-xl-12">
                            <h2 class="fs-xxl fw-500 mt-4 text-white text-center">
                                Vamos criar um produto, é rapido e fácil!
                                <small class="h3 fw-300 mt-3 mb-5 text-white opacity-60 hidden-sm-down">
                                    Your registration is free for a limited time. Enjoy SmartAdmin on your mobile, desktop or tablet.
                                    <br>It is ready to go wherever you go!
                                </small>

                            </h2>
                        </div>
                        <div class="col-xl-9 ml-auto mr-auto  animated fadeInUp" >
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"><i class="fal fa-times"></i></span>
                            </button>
                            <div class="d-flex align-items-center">
                                <div class="alert-icon width-1">
                                    <i class="fal fa-sync fs-xl fa-spin"></i>
                                </div>
                                <div class="flex-1">
                                    <span class="h6 m-0 fw-700">Task 55% Complete</span>
                                    <div class="progress mt-1 progress-xs">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success-600" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        </div>
                        <div class="col-xl-9 ml-auto mr-auto " :class="{'animated custom-animate bounceIn': showNextPanel}" v-show="!showNextPanel" >
                            <div class="card p-4 rounded-plus bg-faded">
                                <form id="js-login" novalidate="">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="name-f" class="form-label">Tipo do produto</label>
                                            <div class="input-group">
                                                <div class="input-group-append input-group-prepend"><span class="input-group-text"><i class="fal fa-cube fs-xl"></i></span></div>
                                                <select id="usertype" aria-label="usertype" class="custom-select">
                                                    <option value="1">Virtual</option>
                                                    <option value="2">Fisico</option>
                                                </select>
                                                <div class="input-group-prepend"><span class="input-group-text text-success"><i class="fal fa-edit fs-xl"></i></span></div>
                                                <input type="text" placeholder="Nome do produto" name="product" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="example-select">Categoria</label>
                                                    <select class="custom-select form-control" id="category_id" name="category_id">
                                                        <option selected="selected" value="">-- Selecione --</option>
                                                        <option value="1">Administração e Negócios</option>
                                                        <option value="2">Animais</option>
                                                        <option value="3">Artes e Música</option>
                                                        <option value="4">Auto Ajuda e Similares</option>
                                                        <option value="5">Beleza</option>
                                                        <option value="6">Blogs e Redes Sociais</option>
                                                        <option value="7">Casa, Jardinagem e Similares</option>
                                                        <option value="8">Culinária e Gastronomia</option>
                                                        <option value="9">Design de Templates</option>
                                                        <option value="10">Edições Audivisuais</option>
                                                        <option value="11">Esporte e Fitness</option>
                                                        <option value="12">Educacional Profissionalizante</option>
                                                        <option value="13">Entretenimento e Diversão</option>
                                                        <option value="14">Informática</option>
                                                        <option value="15">Idiomas</option>
                                                        <option value="16">Internet Marketing</option>
                                                        <option value="17">Investimento e Finanças</option>
                                                        <option value="18">Jurídico</option>
                                                        <option value="19">Marketing de Rede</option>
                                                        <option value="20">Moda e Vestuário</option>
                                                        <option value="21">Paquera e Relacionamentos</option>
                                                        <option value="22">Plugins, Widgets e Similares</option>
                                                        <option value="23">Produtos Infantis</option>
                                                        <option value="24">Religiões e crenças</option>
                                                        <option value="25">Saúde</option>
                                                        <option value="26">Turismo</option>
                                                        <option value="27">Sexologia e Sexualidade</option>
                                                        <option value="28">Outros Segmentos</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="example-select">Como o produto é entregue:</label>
                                                    <select class="custom-select form-control" id="type_deliverie_id" name="type_deliverie_id">
                                                        <option selected="selected" value="">-- Selecione --</option>
                                                        <option value="1">Área de Membros</option>
                                                        <option value="2">Disponível para Baixar</option>
                                                        <option value="3">Correios / Transportadora</option>
                                                        <option value="4">Em mãos / Outros meios</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="form-label" for="example-select">Imagem do produto que será exibida na página de mercado:</label> <small>200x200</small>
                                        <div class="form-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                                <label class="custom-file-label" for="inputGroupFile01">Clique para selecionar uma imagem </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
<!--                                            <label class="form-label" for="basic-url"></label>-->
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Descrição</span>
                                                </div>
                                                <textarea class="form-control" aria-label="With textarea" rows="4" placeholder="Essas informações estarão visíveis para os seus afiliados entenderem o seu produto e também para os clientes através do ato de compra"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row no-gutters">
                                        <div class="col-md-4 ml-auto text-right">
                                            <button id="js-login-btn" type="button" class="btn btn-block btn-danger btn-lg mt-3 waves-effect waves-themed" @click="nextPage">Avançar</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                        <div class="col-md-9 ml-auto mr-auto custom-animate animated bounceIn" v-if="showNextPanel">
                            <div class="card p-4 rounded-plus bg-faded">
                                <div class="col-md-12">
                                    <small class="h3 fw-300 mt-3 mb-5 opacity-60 hidden-sm-down">Informações sobre pagamento</small>
                                </div>
                                <form id="js-login" novalidate="">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                        <span class="input-group-text text-success">
                                                            <i class="fal fa-money fs-xl"></i>
                                                        </span>
                                                </div>
                                                <select class="custom-select form-control" id="payment_type" name="payment_type">
                                                    <option selected="selected" value="">-- Tipo de pagamento  --</option>
                                                    <option value="SINGPRICE">Preço Único</option>
                                                    <option value="PLAN">Planos</option>
                                                </select>
                                                <div class="input-group-append input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="fal fa-exchange fs-xl"></i>
                                                        </span>
                                                </div>
                                                <select class="custom-select form-control" id="warranty" name="warranty">
                                                    <option selected="selected" value="">-- Garantia --</option>
                                                    <option value="7">7 Dias</option>
                                                    <option value="15">15 dias</option>
                                                    <option value="21">21 Dias</option>
                                                    <option value="30">30 Dias</option>
                                                </select>
                                            </div>
                                            <span class="help-block">Some help content goes here</span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="">
                                            <div class="panel-tag">
                                                Informações não obrigatórias
                                            </div>
                                            <div class="p-1 group">
                                                <label class="form-label" for="addon-wrapping-left">Endereço da página de vendas:</label>
                                                <!--                                                    <small>()</small>-->
                                                <div class="input-group flex-nowrap">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fal fa-link fs-xl"></i></span>
                                                    </div>
                                                    <input id="addon-wrapping-left" type="text" class="form-control" placeholder="Link da Página Principal com checkout da ColinaPay" aria-label="Username" aria-describedby="addon-wrapping-left">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="p-1 group">
                                            <label class="form-label" for="addon-wrapping-left">Endereço da página de obrigado: - Cartão</label>
                                            <!--                                                    <small></small>-->
                                            <div class="input-group flex-nowrap">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fal fa-link fs-xl"></i></span>
                                                </div>
                                                <input id="addon-wrapping-left" type="text" class="form-control" placeholder="Link da página  com venda confirmada imediatamente" aria-label="Username" aria-describedby="addon-wrapping-left">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="p-1 group">
                                            <label class="form-label" for="addon-wrapping-left">Endereço de Boleto impresso: </label>
                                            <!--                                                    <small></small>-->
                                            <div class="input-group flex-nowrap">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fal fa-link fs-xl"></i></span>
                                                </div>
                                                <input id="addon-wrapping-left" type="text" class="form-control" placeholder="Link da página para quem gerou boleto do seu produto" aria-label="Username" aria-describedby="addon-wrapping-left">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row no-gutters">
                                        <div class="col-md-4 ml-auto text-right">
                                            <router-link to="/products/view/1" class="btn btn-block btn-danger btn-lg mt-3 waves-effect waves-themed">Finalizar</router-link>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="position-absolute pos-bottom pos-left pos-right p-3 text-center text-white">
                    2019 © SmartAdmin by&nbsp;<a href="https://www.gotbootstrap.com" class="text-white opacity-40 fw-500" title="gotbootstrap.com" target="_blank">gotbootstrap.com</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'CreateProduct',
        created() {
            window.$('body').addClass('nav-function-minify blur');
        },
        data:function () {
          return {
            showNextPanel: false
          }
        },
        methods:{
            nextPage: function () {
                // if(!form.isValid) {
                //  return false
                // }
                this.showNextPanel = true;
            }
        }
    }
</script>