<template>
    <div>
        <div class="d-flex px-3 px-sm-5 py-4">
            <div class="custom-control custom-switch d-inline-flex">
                <input type="checkbox" class="custom-control-input" id="customSwitch1" checked="">
                <label class="custom-control-label fw-500 text-dark" for="customSwitch1"><span class="hidden-sm-down">Ativos</span> </label>
            </div>
            <div class="d-inline-block">
                <a href="javascript:void(0);" class="text-dark fw-500 dropdown-toggle ml-4" data-toggle="dropdown">Ordenar por:</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item px-3 py-2" href="#">
                        <p class="m-0">Strict</p>
                        <p class="m-0 opacity-50">No Adult Content</p>
                    </a>
                    <a class="dropdown-item active px-3 py-2" href="#">
                        <p class="m-0">Moderate</p>
                        <p class="m-0 opacity-50">No explicit video or images</p>
                    </a>
                    <a class="dropdown-item px-3 py-2" href="#">
                        <p class="m-0">Off</p>
                        <p class="m-0 opacity-50">Don't filter adult content</p>
                    </a>
                </div>
            </div>
            <div class="d-inline-block">
                <a href="javascript:void(0);" class="text-dark fw-500 dropdown-toggle ml-4" data-toggle="dropdown">Todos os tipos</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item px-3 py-2" href="#">Data</a>
                    <a class="dropdown-item px-3 py-2" href="#">Images</a>
                    <a class="dropdown-item px-3 py-2" href="#">Media</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item px-3 py-2 active" href="#">All</a>
                </div>
            </div>
        </div>
    </div>
</template>