<template>
    <div>
        <div class="px-3 px-sm-5 pt-4">
            <h1 class="mb-4">
                160 Produtos encontrados
            </h1>
            <div class="input-group input-group-lg mb-5 shadow-1 rounded">
                <input type="text" class="form-control shadow-inset-2" id="filter-icon" aria-label="type 2 or more letters" placeholder="Pesquisar..." value="">
                <div class="input-group-append">
                    <button class="btn btn-primary hidden-sm-down waves-effect waves-themed" type="button"><i class="fal fa-search mr-lg-2"></i><span class="hidden-md-down">Search</span></button>
                </div>
            </div>
        </div>

        <ul class="nav nav-tabs nav-tabs-clean px-3 px-sm-5" role="tablist">
            <li class="nav-item">
                <a class="nav-link active bg-transparent fs-lg fw-400" data-toggle="tab" href="#tab-all" role="tab">Todos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bg-transparent fs-lg fw-400" data-toggle="tab" href="#tab-images" role="tab">Mais vendidos</a>
            </li>
        </ul>

        <filters-product></filters-product>

        <transition
                name="custom-classes-transition"
                mode="out-in"
                enter-active-class="animated fadeInRight"
                leave-active-class="animated fadeOutLeft"
        >
            <div class="content">
                <div class="col-md-12">
                    <card-product class="animated fadeInUp"></card-product>
                    <card-product class="animated fadeInUp"></card-product>
                    <card-product class="animated fadeInUp"></card-product>
                    <card-product class="animated fadeInUp"></card-product>
                </div>
            </div>
        </transition>

    </div>
</template>

<style scoped>
    .col-md-12{
        padding-left: 0px;
        padding-right: 0px;
    }
    .page-content {
        padding: 0px;
    }
    .fadeLeft-enter-active,
    .fadeInLeft,
    .fadeLeft-leave-active,
    .fadeOutLeft {
        animation-duration: 0.4s;
    }
    .clickable {
        cursor: pointer;
    }
    .fadeLeft-enter-active,
    .fadeInLeft,
    .fadeLeft-leave-active,
    .fadeOutLeft {
        animation-duration: 0.4s;
    }
    .clickable {
        cursor: pointer;
    }
    .content {
        margin: 30px;
    }
</style>
<script>
    import CardProduct from "./CardListProduct.vue";
    import FiltersProduct from "./FiltersListProduct.vue";

    export default {
        name: 'IndexProduct',
        components: {
            CardProduct,
            FiltersProduct
        }
    }
</script>