<style>
    #panel-planos {
        min-height: 371px
    }
</style>
<template>
    <div>
        <div id="panel-planos" class="panel">
            <div class="panel-hdr">
                <h2>
                    Planos
                </h2>
                <div class="panel-toolbar">
                    <select class="custom-select custom-select-sm">
                        <option selected="">Selecione</option>
                        <option value="1">Plano 1</option>
                        <option value="2">Plano 2</option>
                        <option value="3">Plano 3</option>
                    </select>
                </div>
                <div class="panel-toolbar ml-2">
                    <div class="d-flex position-relative ml-auto" style="max-width: 8rem;">
                        <i class="fal fa-search position-absolute pos-left fs-lg px-2 py-1 mt-1 fs-xs"></i>
                        <input type="text" class="form-control form-control-sm pl-5" placeholder="Search">
                    </div>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="panel-tag text-center">
                        Selecione um plano para ver seus detalhes
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
