<style scoped>
    #table-wrapper {
        margin-bottom: 10px;
    }
    .image-product {
        width: 79%;
        height: 175px;
        background-repeat: no-repeat;
        background-size: contain;
        border: 1px solid #f1f1f1;
    }
</style>
<template>
    <div class="page-content">
        <div class="subheader"><h1 class="subheader-title"><i class="subheader-icon fal fa-plus-circle"></i> Detalhes <small> Página de detalhes do produto </small></h1></div>
        <div id="panel-13" class="panel">
            <div class="panel-hdr border-faded border-top-0 border-right-0 border-left-0 shadow-0">
                <h2>
                    Dados gerais
                </h2>
                <div class="panel-toolbar pr-3">
                    <ul class="nav nav-pills border-bottom-0" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#dados-gerais" role="tab" aria-selected="false">Dados Gerais</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " data-toggle="tab" href="#url" role="tab" aria-selected="true">URL</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " data-toggle="tab" href="#arquivos" role="tab">Arquivos</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel-container show" role="content"><div class="loader"><i class="fal fa-spinner-third fa-spin-4x fs-xxl"></i></div>
                <div class="tab-content p-3">
                    <div class="tab-pane fade" id="arquivos" role="tabpanel">

                    </div>
                    <div class="tab-pane fade  active show" id="dados-gerais" role="tabpanel">
                        <div class="row">

                            <div class="col-md-2">
                                <img src="https://tratspay-images.s3-sa-east-1.amazonaws.com/2/products/FShHGFplye5EsyqJx4m6KR7UL3ciW9hjuNoYkVxK.png"  aria-valuemax="120" class=" image-product rounded-circle shadow-2 img-thumbnail" alt="">
                            </div>
                            <div class="col-md-10">
                                <div class="row">

                                    <div class="col-md-9">

                                        <div class="row">

                                            <div class="col-md-5">
                                                <h2><span class="fw-500 text-uppercase text-info">Nome do produto</span></h2>
                                                <dl class="row p-3">
                                                    <dt class="col-sm-3">Tipo</dt>
                                                    <dd class="col-sm-9">Digital</dd>
                                                    <dt class="col-sm-3">Categoria</dt>
                                                    <dd class="col-sm-9">Informatica</dd>
                                                    <dt class="col-sm-3">Entrega: </dt>
                                                    <dd class="col-sm-9">Disponivel para baixar</dd>
                                                    <dt class="col-sm-3 d-flex flex-row">
                                                        <a href="#" class="mr-2 fs-xxl" style="color:#3b5998">
                                                            <i class="fa fa-facebook-square"></i>
                                                        </a>
                                                        <a href="#" class="mr-2 fs-xxl" style="color:#38A1F3">
                                                            <i class="fa fa-twitter"></i>
                                                        </a>
                                                        <a href="#" class="mr-2 fs-xxl" style="color:#0077B5">
                                                            <i class="fa fa-linkedin"></i>
                                                        </a>
                                                    </dt>
                                                </dl>


                                            </div>

                                            <div class="col-md-4">
                                                <button type="button" class=" pull-right btn btn-outline-warning waves-effect waves-themed">Editar</button>
                                                <dl class="row p-3" style="margin-top: 2.5rem;">
                                                    <dt class="col-sm-6">Tipo de pagamento: </dt>
                                                    <dd class="col-sm-6">Planos</dd>
                                                    <dt class="col-sm-6">Garantia: </dt>
                                                    <dd class="col-sm-6">7 Dias</dd>
                                                    <dt class="col-sm-3 ">Descrição:</dt>
                                                    <dd class="col-sm-9">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
                                                </dl>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-3 pull-right">
                                        <div class="pb-5 pt-3">
                                            <div class="row">
                                                <div class=" d-sm-flex align-items-center" style="padding: 2.5rem;">
                                                    <div class="p-2 mr-3 bg-info-300 rounded">
                                                        <span class="peity-bar" data-peity="{&quot;fill&quot;: [&quot;#fff&quot;], &quot;width&quot;: 27, &quot;height&quot;: 27 }" style="display: none;">5,3,1,7,9</span><svg class="peity" height="27" width="27"><rect data-value="5" fill="#fff" x="0.54" y="12" width="4.32" height="15"></rect><rect data-value="3" fill="#fff" x="5.94" y="18" width="4.319999999999999" height="9"></rect><rect data-value="1" fill="#fff" x="11.34" y="24" width="4.32" height="3"></rect><rect data-value="7" fill="#fff" x="16.740000000000002" y="6" width="4.319999999999997" height="21"></rect><rect data-value="9" fill="#fff" x="22.139999999999997" y="0" width="4.320000000000004" height="27"></rect></svg>
                                                    </div>
                                                    <div>
                                                        <label class="fs-sm mb-0">Vendas</label>
                                                        <h4 class="font-weight-bold mb-0">759</h4>
                                                    </div>
                                                </div>
                                                <div class=" d-sm-flex align-items-center">
                                                    <div class="p-2 mr-3 bg-success-300 rounded">
                                                        <span class="peity-bar" data-peity="{&quot;fill&quot;: [&quot;#fff&quot;], &quot;width&quot;: 27, &quot;height&quot;: 27 }" style="display: none;">3,4,3,5,5</span><svg class="peity" height="27" width="27"><rect data-value="3" fill="#fff" x="0.54" y="10.8" width="4.32" height="16.2"></rect><rect data-value="4" fill="#fff" x="5.94" y="5.399999999999999" width="4.319999999999999" height="21.6"></rect><rect data-value="3" fill="#fff" x="11.34" y="10.8" width="4.32" height="16.2"></rect><rect data-value="5" fill="#fff" x="16.740000000000002" y="0" width="4.319999999999997" height="27"></rect><rect data-value="5" fill="#fff" x="22.139999999999997" y="0" width="4.320000000000004" height="27"></rect></svg>
                                                    </div>
                                                    <div>
                                                        <label class="fs-sm mb-0">Afiliados</label>
                                                        <h4 class="font-weight-bold mb-0">12</h4>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="url" role="tabpanel">

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <plan-view-product></plan-view-product>
            </div>
            <div class="col-md-6">
                <div id="panel-10" class="panel">
                    <div class="panel-hdr">
                        <h2>
                            Co-produções
                        </h2>
                        <div class="panel-toolbar">
                            <button type="button" class="btn btn-outline-info waves-effect waves-themed">Novo</button>
                        </div>
                        <div class="panel-toolbar ml-2">
                            <div class="d-flex position-relative ml-auto" style="max-width: 8rem;">
                                <i class="fal fa-search position-absolute pos-left fs-lg px-2 py-1 mt-1 fs-xs"></i>
                                <input type="text" class="form-control form-control-sm pl-5" placeholder="Search">
                            </div>
                        </div>
                    </div>
                    <div class="panel-container show">
                        <div class="">
                            <data-grid
                                    url="https://vuetable.ratiw.net/api/users"
                                    primary-key="id"
                                    :custom-fields="{name: 'Nome', email: 'E-mail', nickname: 'Usuario'}"
                                    :action-buttons=false
                                    perPage=5
                            ></data-grid>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <!--                <u-r-l-view-product></u-r-l-view-product>-->
                </div>

                <div class="col-md-6"></div>
            </div>
        </div>
    </div>
</template>
<script>
    import PlanViewProduct from './PlanViewProduct'
    import DataGrid from '../Base/DataGrid'

    export default {
        components: { PlanViewProduct, DataGrid }
    }
</script>